
<ion-view title="Instructions">
  <ion-nav-bar class="bar bar-transparent">
    <ion-nav-back-button class="button-clear button-light">
      <!-- <i class="ion-arrow-left-c"></i> Back -->
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="quiz_page">
    <div id="instructions_div">
      <ion-list>
        <p class="item item-text-wrap item-clear">This is a multiple-choice trivia quiz with 10 questions</p>
        <!-- <p class="item item-text-wrap item-clear">You can choose the number of questions you want on the quiz</p> -->
        <!-- <p class="item item-text-wrap item-clear">The quiz will continue till you complete it or get an answer wrong</p> -->
        <p class="item item-text-wrap item-clear">Each question has a twenty-second time limit </p>
        <p class="item item-text-wrap item-clear">You can view your progress and the current question's category in the bottom bar </p>
        <p class="item item-text-wrap item-clear"><b>Tap your chosen answer to submit it. </b>The first selected answer is submitted </p>
        <p class="item item-text-wrap item-clear">When the timer runs out, the next question will be loaded and no points awarded</p>
        <p class="item item-text-wrap item-clear">You can view a number of statistics about your performance in the "Statistics" page </p>
        <p class="item item-text-wrap item-clear">That's it! I hope you enjoy the game </p>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
