<ion-view title="Quiz">

    <ion-content scroll="false" class="quiz_page home-container">
      <div class="progress-bar-div srow3" ng-show="isQuizActive">
        <div class="semicircle-bg"></div>
        <div class="progress_bar"
          round-progress
          max="quizObjectJSON.length"
          current="questionNumber"
          color="#3232FF"
          bgcolor="#f33013"
          semi='true'
          radius="80"
          stroke="20"
          rounded="false"
          clockwise="true"
          iterations="10"
          animation="linearEase">
        </div>
        <div class="progress-text" ng-show="isQuizActive">{{displayNumber+1}} of {{quizObjectJSON.length}}</div>
        <div class="progress-text" ng-show="anyWrong">Wrong!</div>
        <div class="progress-text" ng-show="perfectQuiz">PERFECT!</div>
        <!-- <div class="progress-text" ng-show="scoreQuizNow">Quiz Complete</div> -->
      </div>
      <div class="progress-bar-div" ng-hide="isQuizActive">
        <div class="semicircle-bg"></div>
        <div class="progress_bar"
          round-progress
          max="quizObjectJSON.length"
          current="questionNumber"
          color="#5ab847"
          bgcolor="#f33013"
          semi='true'
          radius="80"
          stroke="20"
          rounded="false"
          clockwise="true"
          iterations="10"
          animation="linearEase">
        </div>
        <!-- <div class="progress-text" ng-show="isQuizActive">{{displayNumber+1}} of {{quizObjectJSON.length}}</div> -->
        <div class="progress-text" ng-show="anyWrong">Wrong!</div>
        <div class="progress-text" ng-show="perfectQuiz">PERFECT!</div>
        <!-- <div class="progress-text" ng-show="scoreQuizNow">Quiz Complete</div> -->
      </div>
      <div class="item-animate timer srow" ng-show="isQuizActive">
        <div class="progress_bar"
          round-progress
          max="20"
          current="timer"
          color="#a8c7fb"
          bgcolor="#9b9b9b"
          semi='false'
          radius="28"
          stroke="10"
          rounded="false"
          clockwise="true"
          iterations="10"
          animation="linearEase">
        </div>
        <button class="button-icon button-small balanced icon ion-arrow-right-a next_button" ng-show="optionClick" ng-click="nextButtonOnclick()"></button>
      </div>

      <!-- <button class="button icon-right ion-chevron-right button-balanced" ng-disabled="optionClick" ng-click="nextButtonOnclick()">Next</button> -->
        <div class="card" ng-show="noCategory"><div class="item item-text-wrap">You must pick a category before continuing</div></div>
        <!-- <div id="welcome_div" ng-hide="hideWelcomeDiv">Welcome to my quiz. Please click "Next" to continue <a href='google.com'></a></div> -->
        <div id="questionContainer" class="flip-container item-animate" ng-show='isQuizActive' ng-hide="noCategory">
            <div id="flipCard" class="flipper">
                <div id="cardContent" class="front">
                  <div class="list question-container">
                      <div class="item item-divider item-text-wrap question_questions brow"><b>{{quizObjectJSON[questionNumber].question}}</b></div>
                      <ion-radio class="item item-text-wrap question_options brow" ng-repeat="choice in quizObjectJSON[questionNumber].choices track by $index" ng-model="answeredQuiz[questionNumber].userAnswer" ng-value="$index" ng-click="optionOnclick()">{{choice}}</ion-radio>
                  </div>
                </div>

            </div>
        </div>
          <!-- <question-div id="quiz_area" class="srow7" ng-show='isQuizActive' ng-hide="noCategory"></question-div> -->
        <div class ="card item-animate1" id="final_results" ng-show="scoreQuizNow">
            <p class="item item-divider" id="final_score_number">You scored {{finalScore}} out of {{answeredQuiz.length}} on the quiz </p>
            <p class="item item-text-wrap" id="perfect_score" ng-show="perfectQuiz">Nicely done! You answered all the questions correctly</p>
            <div ng-show="anyWrong">
                <div class="item item-divider" background-color="red">Wrongly answered questions</div>
                <div class="item item-text-wrap" ng-repeat="wrongAnswer in wrongAnswers">On the following question: <b>{{wrongAnswer.question}}</b> <br> You selected: <span class="wrong_choice"> {{wrongAnswer.choices[wrongAnswer.userAnswer]}} </span> <br> The correct answer is: <span class="correct_choice">{{wrongAnswer.choices[wrongAnswer.correctAnswer]}} </span>
                </div>
            </div>
            <!-- <div ng-show="anyMissed">
                <div class="item item-divider" background-color="yellow">Unanswered Questions</div>
                <div class="item item-text-wrap" ng-repeat="notAnswered in notAnswereds"> You did not pick an answer for: <b>{{notAnswered.question}} </b> <br> The correct answer is: <span class="correct_choice"> {{notAnswered.choices[notAnswered.correctAnswer]}} </span>
                </div>
            </div> -->
        </div>
        <div class="button-bar" ng-show='scoreQuizNow'>
            <a class="button button-clear button-dark" ng-click="goHome()">Go Home</a>
            <a class="button button-clear button-positive" ng-click="goToStatistics()">Go to Statistics</a>
          </div>
    </ion-content>
</ion-view>
