<ion-view title="Statistics">
  <ion-content>
    <div class="card">
      <p class="item item-divider" id="overall_perf_stats">Overall Performance</p>
        <p class="item item-text-wrap">Percentage Score Per Quiz: {{overallPercentage|number:2}}%</p>
        <p class="item item-text-wrap">Total Number of Quizzes taken: {{totalQuizzes}}</p>
      <p class="item item-divider" id="question_perf_stats">Performance by Question</p>
        <p class="item item-text-wrap">Percentage Score Per Question: {{byQuestionPercentage|number:2}}%</p>
        <p class="item item-text-wrap">Total Number of Questions answered: {{byQuestionTotal}}</p>
    </div>
    <div class="card">
      <p class="item item-divider" id="category_records_stats">Category Records</p>
        <p class="item item-text-wrap">Best Category: {{bestCategory|uppercase}}</p>
        <p class="item item-text-wrap">Percentage: {{bestCategoryPercent|number:2}}</p>
        <p class="item item-text-wrap">Worst Category: {{worstCategory|uppercase}}</p>
        <p class="item item-text-wrap">Percentage: {{worstCategoryPercent|number:2}}</p>
    </div>
    <!-- <div class="card">

    </div> -->
    </ion-list>
  </ion-content>
</ion-view>
