/* Empty. Add your own CSS if you like */

/*Start CSS backup*/

/*change border-radius of ".button" to 0px*/
.item-animate.ng-hide {
  height:0;
  opacity:0;
  padding:0;
}

.item-animate.ng-hide-remove,
.item-animate.ng-hide-add {
  display: block !important;
  transition: all linear 300ms;
}

.item-animate1.ng-hide{
  visibility:hidden;
  transform:translateY(-120px);
}

.item-animate1.ng-hide-remove,
.item-animate1.ng-hide-add{
  display: block !important;
  transition: all linear 100ms;
}

.question-container {
     display: flex;
     flex-direction: column;
     height: 73%;
}

.srow{
  flex:1;
}

.question-container > .brow {
     flex: 1;
}

.question-container > .brow2 {
     flex: 2;
}

.home-container {
     display: flex;
     flex-direction: column;
     height: 100%;
}

.home-container > .srow{
  flex:1;
}

.home-container > .srow2{
  flex:2;
}

.home-container > .srow3{
  flex:3
}

.home-container > .srow7{
  flex:7;
}

.home-container > .srow3i{
  flex:2;
  text-align:center;
  padding-top:5%;
  padding-bottom:5%;
  font-family:"DiscoFont",sans-serif;
  font-size:17px;
}

.flip-container {
	perspective: 1000;
}

  .flip-container.flip .flipper {
  	transform: rotateY(180deg);
  }

.flip-container, .front, .back {
	width: 375px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	/*backface-visibility: hidden;*/

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.first_page_image {
  max-width:50%;
}

#image_container{
  text-align:center;
  padding-top:10%;
  padding-bottom:10%;
  font-family:"DiscoFont",sans-serif;
  font-size:17px;
}

#instructions{
  text-align:center;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#instructions_div{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.question_questions{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*min-height:90px;*/
}

.question_options{
  /*min-height:90px;*/
}

#choices_here label {
  vertical-align: middle;
}

.first_page{
  background-color:#E8E8E8;
}

.quiz_page{
  background-color:#d3d7ee;
}

.instructions_page{
  background-color:#eed3d7;
}

.statistics_page{
  background-color:#d3e5ee;
}

.progress-bar-div{
  /*position:absolute;*/
  text-align:center;
  padding-top:10px;
}

.progress-text{
  margin-top:-20px;
  font-family:"DiscoFont",sans-serif;
  font-size:20px;
}

.timer{
  margin-top:10px;
  margin-bottom:-0px;
  text-align:center;
  z-index:11;
}

.bar.bar-transparent{
  background-color:#D1D1D1;
  color:black;
}

.item.item-clear{
  border-color: #b2b2b2;
  background:none;
}

.question-div{
  padding-top:10px;
}

@font-face{
  font-family:"DiscoFont";
  src: url("../lib/ionic/fonts/DISCO___.ttf");
  font-weight:400;
}




/*End CSS backup*/

.correct_choice{
	color:green;
}

.wrong_choice{
	color:red;
}

#quiz_area{
	height:80%;
}

.button{
	padding:0% 2.5%;
}

.button-bar{
	padding:0.5% 2.5%;
}

.button-block{
	padding:0% 2.5%;
}
.button-full{
	background-color:"e06721";
}

#overall_perf_stats {
	background-color:#779ECB;
}

#question_perf_stats {
	background-color:#FDFD96;
}

#category_records_stats {
	background-color:#77DD77;
}

.image_div{
	background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb76b 0%, #ff7c00 41%, #ff7c00 41%, #ffa73d 60%, #ff7f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(41%,#ff7c00), color-stop(41%,#ff7c00), color-stop(60%,#ffa73d), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ff7c00 41%,#ff7c00 41%,#ffa73d 60%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb76b 0%,#ff7c00 41%,#ff7c00 41%,#ffa73d 60%,#ff7f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb76b 0%,#ff7c00 41%,#ff7c00 41%,#ffa73d 60%,#ff7f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb76b 0%,#ff7c00 41%,#ff7c00 41%,#ffa73d 60%,#ff7f04 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */

}

.start_quiz_button{
	background-color:#e06721;
	width:100%;
	height:56%;
}
